@model IEnumerable<LabSystem2.Models.Product>


<div id="productlist-section">

    <ul class="ThreeColumnsCoversList small-cover-list">
        @foreach (var product in Model)
        {
            <li>
                <article>
                    <a class="addtocartlink" href="@Url.Action("AddToCart", "Cart", new { id = product.ProductId })">
                        <img src="@Url.Content("~/Content/Images/cart.png")" alt="Dodaj do koszyka" />
                    </a>
                    @if (product.IsBestseller)
                    { 
                        <div class="bestsellerFlag"></div>
                    }
                    <a class="productdetailslink" href="@Url.Action("Details", "Store", new { id = product.ProductId } )">
                        <img class="album-cover" src="@Url.Content("~/Content/Covers/" + product.CoverFileName)" />
                        <h1>
                            @product.ProductTitle
                        </h1>
                    </a>
                </article>
            </li>
        }
    </ul>

</div>