@model LabSystem2.Models.Product

@{
    ViewBag.Title = "Szczegóły badań";
}


<div id="productlist-content">

    @Html.Action("GenresMenu")

    <div id="productlist-rightsection">
        <div id="breadcrumb-section">
            <img src="@Url.Content("~/Content/Images/home-small.png")" />
            @Html.MvcSiteMap().SiteMapPath() 
        </div>


        <section id="product-details-section">
            <div id="product-details-left">

                <img src="@Url.Content("~/Content/Covers/" + @Model.CoverFileName)" />

                <div id="product-details-share">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=@Request.Url.AbsoluteUri" target="_blank"></a>
                    <div></div>
                    <a href="http://twitter.com/share?text=Moja nowa zdobycz: @Request.Url.AbsoluteUri" target="_blank"></a>
                </div>

            </div>

            <div id="product-details-right">
                <div id="product-details-names">

                    <h1>
                        @Model.ProductTitle
                    </h1>

                </div>

                <div id="product-details-price">
                    <div>
                        @String.Format("{0:0.##}", Model.PriceBrutto)<span>PLN</span>
                    </div>

                    <a href="@Url.Action("AddToCart", "Cart", new { id = Model.ProductId })"></a>
                </div>

                <div id="product-details-description">
                    @Model.Description
                </div>

                <div id="product-details-info">
                    Czas realizacji: dwa tygodnie.
                </div>

                @*@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <a href="@Url.Action("AddProduct", "Manage", new { albumId = Model.ProductId })" style="margin-top: 20px; font-weight: bold; display: block;">Edytuj</a>
        }
                *@
            </div>

            

        </section>

    </div>
</div>
