@model LabSystem2.ViewModels.HomeViewModel
@using LabSystem2.Infrastructure
@{
    ViewBag.Title = "Strona główna";
}

<div>
    <nav class="genres-horizontal">
        <ul>
            @foreach (var genre in Model.Genres)
            {
                <li>
                    <a href="@Url.Action("List", "Store", new { genrename = genre.Name.ToLower() })" style="background-image: url(@Url.GenreIconPath(genre.IconFilename))">
                        @genre.Name
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>

<section>
    <ul class="ThreeColumnsCoversList large-cover-list">
        @foreach (var newArrival in Model.NewArrivals)
        {
            <li>
                <article>
                    <a class="addtocartlink" href="@Url.Action("AddToCart", "Cart", new { id = newArrival.ProductId })">
                        <img src="../Content/Images/cart.png" />
                    </a>
                    <a class="productdetailslink" href="@Url.Action("Details", "Store", new { id = newArrival.ProductId })">
                        <div class="newFlag"></div>
                        <img class="album-cover" src="@Url.Content("~/Content/Covers/" + newArrival.CoverFileName)" />
                        <h1>
                            @newArrival.ProductTitle
                        </h1>
                    </a>
                </article>
            </li>
        }
    </ul>
</section>

<section>
    <ul class="ThreeColumnsCoversList large-cover-list">
        @foreach (var bestseller in Model.Bestsellers)
        {
            <li>
                <article>
                    <a class="addtocartlink" href="@Url.Action("AddToCart", "Cart", new { id = bestseller.ProductId })">
                        <img src="../Content/Images/cart.png" />
                    </a>
                    <a class="productdetailslink" href="@Url.Action("Details", "Store", new { id = bestseller.ProductId })">
                        <div class="bestsellerFlag"></div>
                        <img class="album-cover" src="../Content/Covers/2.png" />
                        <h1>
                            @bestseller.ProductTitle
                        </h1>
                    </a>
                </article>
            </li>
        }

    </ul>
</section>


@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@
