@model IEnumerable<LabSystem2.Models.Order>

@{
    ViewBag.Title = "Zlecenia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="float:left;">
    <p class="btn btn-default">
        @Html.ActionLink("Baza klientów", "Index", "Customers")
    </p>
    <br />
    <br />
</div>
<div style="float:left;">
    <p class="btn btn-default">
        @Html.ActionLink("Dodaj Klienta", "Create", "Customers")
    </p>
    <br />
    <br />
</div>
<div style="float:left;">
    <p class="btn btn-default">
        @Html.ActionLink("Dodaj Zlecenie", "Create")
    </p>
    <br />
    <br />
</div>
<div style="float:left;">
    <p class="btn btn-default">
        @Html.ActionLink("Dodaj wyniki badań", "Create", "ResultsOfOrderGRs")
    </p>
    <br />
    <br />
</div>
<div style="clear:both;"></div>
<br />
<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.NameAndSurname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantitySample)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarkingSample)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderCreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderState)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.NameAndSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantitySample)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarkingSample)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderCreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderState)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.OrderId }) |
                @Html.ActionLink("Details", "Details", new { id = item.OrderId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OrderId })
            </td>
        </tr>
    }

</table>
