@model LabSystem2.ViewModels.CartViewModel
@using LabSystem2.Infrastructure


@{
    ViewBag.Title = "Zlecenie badań";
}



<div id="productlist-content">

    <div id="productlist-rightsection">
        <div id="breadcrumb-section">
            <img src="../Content/Images/home-small.png" />
            @Html.MvcSiteMap().SiteMapPath()
        </div>
        <section class="content-section">
            <table class="table">
                    <tr>
                        <th>Przedmiot badań</th>
                        <th>Zakres Badań</th>
                        <th>Ilość prób</th>
                        <th>Cena brutto</th>
                        <th>Wartość brutto</th>
                        <th></th>
                    </tr>
                @foreach (var cartItem in Model.CartItems)
                {
                    <tr id="cart-row-@cartItem.OrderItem.OrderItemId">
                        <td><a href="@Url.Action("Details", "OrderItems", new { id = cartItem.OrderItem.OrderItemId })">@cartItem.OrderItem.Genre.Name</a></td>
                        <td><a href="@Url.Action("Details", "OrderItems", new { id = cartItem.OrderItem.OrderItemId })">@cartItem.OrderItem.Product.ProductTitle</a></td>
                        <td><a href="@Url.Action("Details", "OrderItems", new { id = cartItem.OrderItem.OrderItemId })">@cartItem.OrderItem.Quantity</a></td>
                        <td><a href="@Url.Action("Details", "OrderItems", new { id = cartItem.OrderItem.OrderItemId })">@cartItem.OrderItem.Product.PriceBrutto</a></td>
                        <td>@String.Format("{0:0.##}", cartItem.TotalPrice) zł</td>
                        <td><span id="cart-item-count-@cartItem.OrderItem.OrderItemId"></span></td>
                        <td><a class="removeProduct" data-id="@cartItem.OrderItem.OrderItemId" href="#">Usuń</a></td>
                        <td><a href="@Url.Action("Edit", "OrderItems", new { id = cartItem.OrderItem.OrderItemId })">Edytuj</a></td>
                    </tr>
                }

                <tr id="cart-empty-message" @if (Model.CartItems != null && Model.CartItems.Count > 0) { <text> class="hidden" </text> }>
                    <td>Brak dodanych produktów</td>
                </tr>
            </table>

            <div id="total-price">
                Razem: <span id="total-price-value">@String.Format("{0:0.##}", Model.TotalPrice)</span> zł
            </div>

            <div class="section-button-container">
                <p class="btn btn-default">@Html.ActionLink("Dodaj Zlecenie", "Create", "OrderItems")</p>
                @if (Model.TotalPrice > 0)
                {
                    <a class="btn btn-default" id="cart-button-checkout" href="@Url.Action("Create", "Orders", new { viewname = "Create" })">Dodaj Klienta</a>
                }
            </div>
        </section>

    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">

    $(function () {
        $(".removeProduct").click(function () {

            var recordToDelete = $(this).attr("data-id");

            if (recordToDelete != '') {

                // Send post request with AJAX
                $.post("/Cart/RemoveFromCart", { "productID": recordToDelete },
                    function (response) {
                        // Success
                        if (response.RemovedItemCount == 0) {

                            $('#cart-row-' + response.RemoveItemId).fadeOut('slow', function () {
                                if (response.CartItemsCount == 0) {
                                    $("#cart-empty-message").removeClass("hidden");
                                }
                            });
                        } else {
                            $('#cart-item-count-' + response.RemoveItemId).text(response.RemovedItemCount);
                        }

                        if (response.CartItemsCount == 0) {
                            $('#cart-button-checkout').addClass('hidden');
                            $('#total-price').addClass('invisible');
                        }

                        $('#total-price-value').text(response.CartTotal);
                        $('#cart-header-items-count').text(response.CartItemsCount);

                    });

                return false;
            }
        });

    });

</script>


