@model IEnumerable<LabSystem2.Models.Order>
@{
    ViewBag.Title = "CustomerList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <hr />
    <h2 class="manageHeader">Twoje zamówienia i wyniki badań</h2>
    <div>

        @if (Model.Any())
        {

            <table id="orders-table">

                @foreach (var order in Model)
                {
                    <tr @if (order.OrderState == LabSystem2.Models.OrderState.New) { <text> class="newOrder" </text> }>
                        <td>
                            <strong>Nr zamówienia: </strong>@order.OrderId
                        </td>
                        <td>
                            <strong>Data rejestracji: </strong>
                            @order.DateCreated.ToString("dd-MM-yyyy")
                        </td>
                        <td>
                            <strong>Stan: </strong><br />

                            @if (ViewBag.UserIsCustomer)
                            {
                                @Html.DisplayFor(o => order.OrderState)
                            }

                        </td>

                        <td>
                            <strong>Dane wysyłkowe:</strong><br />
                            @order.Customer.NIP<br />
                            @order.Customer.NameAndSurname<br />
                            @order.Customer.Address<br />
                            @order.Customer.City<br />
                        </td>
                        <td>
                            <strong>Uwagi: </strong><br />
                            @order.Comment
                        </td>
                        <td>
                            <strong>Łączny koszt:</strong> @order.TotalPrice zł
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <section>
                                <table class="table">
                                    <tr>
                                        <th>
                                            Numer próbki
                                        </th>
                                        <th>
                                            pH
                                        </th>
                                        <th>
                                            Fosfor
                                        </th>
                                        <th>
                                            Potas
                                        </th>
                                        <th>
                                            Magnez
                                        </th>
                                        <th>
                                            Inne Badania
                                        </th>
                                        <th>
                                            Mangan
                                        </th>
                                        <th>
                                            Żelazo
                                        </th>
                                        <th>
                                            Miedź
                                        </th>
                                        <th>
                                            Cynk
                                        </th>
                                        <th>
                                            Bor
                                        </th>
                                    </tr>
                                    @foreach (var orderItem in order.ResultsOfOrderGRList)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => orderItem.OrderMarkingSample)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => orderItem.WynikiBadanpH)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => orderItem.WynikiBadanFosfor)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => orderItem.WynikiBadanPotas)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => orderItem.WynikiBadanMagnez)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => orderItem.InneBadania)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => orderItem.Mn)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => orderItem.Fe)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => orderItem.Cu)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => orderItem.Zn)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => orderItem.Bor)
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </section>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6"></td>
                    </tr>
                    <!-- Next order -->

                }


            </table>
        }
        else
        {
            <div style="text-align: center; margin-top: 50px; margin-bottom: 50px;">
                Brak wyników.
            </div>
        }
    </div>



</div>



