@model IEnumerable<LabSystem2.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="float:left;">
    <p class="btn btn-default">
        @Html.ActionLink("Baza Klientów", "Index", "Customers")
    </p>
    <br />
    <br />
</div>

<div style="float:left;">
    <p class="btn btn-default">
        @Html.ActionLink("Dodaj Zleceniodawce", "Create", "Customers")
    </p>
    <br />
    <br />
</div>

<div style="float:left;">
    <p class="btn btn-default">
        @Html.ActionLink("Dodaj przedmiot badań", "Index", "Cart")
    </p>
    <br />
    <br />
</div>
<div style="clear:both;"></div>
<br />
<br />

<h2>Baza Zleceń</h2>

<div id="breadcrumb-section">

    <form id="search-form" method="get" data-ajax="true" data-ajax-target="#personlist-section" data-ajax-update="#personlist-section">
        <input id="SearchQuery" name="searchQuery" data-autocomplete-source="@Url.Action("PersonSuggestions")" placeholder="Wprowadź tekst aby wyfiltrować..." />
        <input type="submit" value="" />
    </form>
</div>
<br />

@Html.Partial("_PersonList")
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>
    $(function () {

        var ajaxSubmit = function () {

            var $form = $(this);

            var settings = {
                data: $(this).serialize(),
                url: $(this).attr("action"),
                type: $(this).attr("method")
            };

            $.ajax(settings).done(function (result) {
                var $targetElement = $($form.data("ajax-target"));
                var $newContent = $(result);
                $($targetElement).replaceWith($newContent);
                $newContent.effect("slide");
            });

            return false;
        };


        var setupAutoComplete = function () {
            var $input = $(this);

            var options = {
                source: $input.attr("data-autocomplete-source"),
                select: function (event, ui) {
                    $input = $(this);
                    $input.val(ui.item.label);
                    var $form = $input.parents("form:first");
                    $form.submit();
                }
            };

            $input.autocomplete(options);
        };

        $("#search-form").submit(ajaxSubmit);
        $("#search-filter").each(setupAutoComplete);

    });

</script>


<p>
    @Html.ActionLink("Create New", "Create")
</p>